
.container {
    height: 100%;
    font-size: 12px;
    overflow-y: scroll;
    box-sizing: border-box;
    width: 95% !important;
}


ul {
    border: 1px solid Black;
    display: inline-block;
    vertical-align: top;
    min-height: 100px;
    min-width: 100px;
    max-height: 500px;
    padding: 10px;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
}

li {
    background-color: white;
    border-bottom: 1px dotted Gray;
}

li.selected {
    background-color: lightgrey;
}

input[type=submit] {
    background-color: #000000;
    color: #fff;
    width: 20% !important;
    border-radius: 5px;
    font-size: large;
}

p {
    color: red;
}

#instructions {
    margin-top: 10px;
    margin-bottom: 10px;
}

#space {
    margin-top: 25px !important;
}

.clickable {
    width: 100%;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px !important;
    color: maroon;
    height: 40px;
}

.table {
    margin-bottom: 15px !important;
    border-spacing: 2px;
}

input {
    width: 100% !important;
    font-size: large;
}

th {
    color: white;
    background-color: darkgrey;
}

caption {
    caption-side: top !important;
    font-size: large;
    font-weight: bold;
}

#print_button {
    float: right;
}